<!DOCTYPE html>
<html>
    <head>
        <title>Express</title>
        <style>
            .main {
                width: 100%;
                height: 100%;
            }

            main {
                display: flex;
                align-items: center;
                justify-items: center;
            }

            h1 {
                font-size: 50px;
            }
        </style>
    </head>
    <body>
        <section class="main">
            <main>Express js Application</main>
        </section>
    </body>
</html>